body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
}

div {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

table {
    width: 90%;
    max-width: 800px; /* Set a maximum width */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px; /* Increase padding for more space */
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Ensure content stays on a single line */
}

th {
    background-color: #f4f4f4;
}

.sort-arrow {
    cursor: pointer;
    padding-left: 5px;
}

.view-logs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto 10px;
}

.view-logs-header h2 {
    flex: 1;
    text-align: center;
}

.view-logs-header button {
    flex: 1;
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

/* Specific style for logout button */
.logout-button {
    width: 130px; /* Adjust the width as needed */
    margin: 10px auto; /* Center the button */
}
